

nav {
    background-color:#01b2ee;
    display: grid;
    grid-template-columns: repeat(20fr);
    grid-template-rows: repeat(1fr);
    padding: .75%;
    
 
}
a{
    text-decoration: none;
}
.rest{
    grid-area: 1/16/2/19;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a i {
    font-size: 25px;
    color: white;
    margin-left: 5px;
    
}
.locationDrop{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family:MuseoSans,sans-serif ;
}

.logo {
    grid-area:1/3/2/9;
    font-size: 35px;
    font-family:MuseoSans,sans-serif ;
    font-weight:600;
    
    color: white;
}
.subscribe span{
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-family:MuseoSans,sans-serif ;
}
.responsiveNabr{
    opacity: 0;
    display: none;
}

.input-icons i {
    position: absolute;
    
}
  
.input-icons {
    width: 30%;
    /* margin-bottom: 10px; */
    
}
.input-icons i {
    width: 30%;
    /* margin-bottom: 10px; */
    font-size: 20px;
}
  
.icon {
    
    min-width: 40px;
}
  
.input-field {
    width: 70%;
    /* padding: 10px; */
    height: 35px;
    text-align: left;
    border: solid rgba(128, 128, 128, 0.518) 1px;
}

.browseCategories a {
    color: rgb(57, 54, 54);
    
}
.browseCategories a i{
    color: rgb(57, 54, 54);
    font-size: 20px;
}
.minNavbar{
margin: 0;
padding: 0;
height: 60px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 1023px){
    nav{
        
        position: relative;
        display:flex;
        justify-content: space-between;
        
    }

    .con
    .favourite , .cart , .subscribe ,.account , .favourite {
        display: none;
    }
    .responsiveNabr{
        position:fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;

        z-index: 10;
        opacity: 1;
        background-color: white;
        
    }
    .iconResponsive p{
        font-size: 10px;
    }
    .iconResponsive i{
        text-align: center;
    }
    .responsiveNabr div i {
        color: gray;
    }
    .minNavbar{
        display: none;
    }

    .sales{
        display: none;
    }
    

}